<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Jovian Career website</title>
</head>
<body>
    <div id="container">
        <h1>Jovian Dubai jobs</h1>
        <img id="banner" src="https://job-career-website.wordpressxpert.repl.co/static/banner.jpg" alt="image of dubai">
    
        <h2>About Jovian</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque illo odio consectetur sunt eveniet facere maiores assumenda mollitia! A et optio obcaecati quibusdam amet aut adipisci ut quos doloremque cum.</p>
    
         <h2>Open Positions</h2>
    
        <p>TODO - Show the jobs here</p>
        
        </div>
</body>
</html>